[submodule "services/patients-service"]
    path = services/patients-service
    url = https://github.com/uemerson199/patients-service.git

[submodule "services/scheduling-service"]
    path = services/scheduling-service
    url = https://github.com/uemerson199/scheduling-service.git

[submodule "services/notification-service"]
    path = services/notification-service
    url = https://github.com/uemerson199/notification-service.git

[submodule "services/gateway-service"]
    path = services/gateway-service
    url = https://github.com/uemerson199/gateway-service.git

[submodule "services/auth-service"]
    path = services/auth-service
    url = https://github.com/uemerson199/auth-service.git
